<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}  
  </header>
  <main>
    <div class="container">
      <div class="post-container">
          {{ content }}
      </div>

       <script src="https://utteranc.es/client.js"
        repo="kalicn/noschoolblog"
        issue-term="pathname"
        theme="github-light"  
        crossorigin="anonymous"
        async>
</script>
        
    </div>
  </main>
  {%- include footer.html -%}
</body>
</html>
